[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pre-commit = "*"
mypy = "*"
types-requests = "*"
typing-extensions = "*"
flake8 = "*"
flake8-bugbear = "*"
flake8-docstrings = "*"
setuptools-scm = "*"
pytest = "*"
twine = "*"

[packages]

[requires]
python_version = "3.9"
