name: "Extract, transform and load"

on:
  workflow_dispatch:
  schedule:
    - cron: "0 */12 * * *"

jobs:
  etl:
    name: ETL
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v6

      - name: Setup Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.9'
          cache: 'pipenv'

      - name: Install pipenv
        run: curl https://raw.githubusercontent.com/pypa/pipenv/master/get-pipenv.py | python

      - name: Install Python dependencies
        run: pipenv install --dev --python=`which python`

      - name: Download Satnogs
        run: pipenv run python src/download.py satnogs

      - name: Download je9pel
        run: pipenv run python src/download.py je9pel

      - name: Commit
        run: |
          git config --global user.name "GitHub Actions"
          git config --global user.email "actions@github.com"
          git config pull.rebase false
          git pull origin $GITHUB_REF
          git add ./data
          git commit -m "Added latest ETL" --author="palewire <palewire@users.noreply.github.com>" && git push || true
        shell: bash
